<h2>Doctor Menu</h2>

<NavLink>Appointment</NavLink>
<NavLink>Account</NavLink>
<NavLink>Billing</NavLink>
<NavLink>Chat</NavLink>
<NavLink>Feedback</NavLink>
<NavLink>Medical Records</NavLink>
<NavLink>Medicines</NavLink>
<NavLink>Patients</NavLink>
<NavLink>Prescriptions</NavLink>
<NavLink>Schedules</NavLink>
