@page "/admin/register/patient"
@using MediCore_Blazor.Services
@using MediCore_Library.Models.DTOs.DTO_Entities
@using MediCore_Library.Models.DTOs.DTO_Entities.Full
@using MediCore_Library.Models.Identities
@using MediCore_Blazor.Components.Register

@inject HttpClient http
@inject NavigationManager navigationManager
@inject GlobalConfig config

<h3>Register Patient</h3>

<RegisterPatientForm Request="request" OnSubmit="RegisterPatient"></RegisterPatientForm>

@code {
	private Register request = new Register
	{
		Patient = new PatientFullDTO
		{
			Address = new AddressDTO()
		}
	};

	private async Task RegisterPatient()
	{
		var response = await http.PostAsJsonAsync($"{config.BaseUrl}/authorize/register/patient", request);
		if (response.IsSuccessStatusCode)
		{
			navigationManager.NavigateTo("/admin/register");
		}
	}
}
