@inherits LayoutComponentBase
@using MediCore_Blazor.Services
@using MediCore_Blazor.Components.Navigation
@inject SessionState state

<div class="page-header">
    <h1>MediCore</h1>
</div>
<div class="page">
    @if (state.LoginResponse is not null)
    {
        <nav>
            @switch (state.LoginResponse.Role)
            {
                case "admin":
                    <AdminNavigation></AdminNavigation>
                    break;
                case "doctor":
                    <DoctorNavigation></DoctorNavigation>
                    break;
                case "staff":
                    <StaffNavigation></StaffNavigation>
                    break;
                case "patient":
                    <PatientNavigation></PatientNavigation>
                    break;
            }
        </nav>
    }
    <main>
        @Body
    </main>
</div>
<footer>
    <p>Frontend Developer: Brent N. Baillie</p>
    <p>Backend Developer: Brent N. Baillie</p>
</footer>
