@page "/admin/create-role"

@using MediCore_Library.Models.DTOs.DTO_Entities
@using MediCore_Blazor.Services

@inject HttpClient http
@inject NavigationManager nav
@inject GlobalConfig config

<h3>Create Staff Role</h3>

<EditForm Model="role" OnValidSubmit="CreateRole">
	<DataAnnotationsValidator/>
	<ValidationSummary/>

	<div>
		<label>Title</label>
		<InputText @bind-Value="role.Title"/>
	</div>
	<div>
		<label>Description</label>
		<InputTextArea @bind-Value="role.Description"/>
	</div>
	<div>
		<button type="submit">Create Role</button>
	</div>
</EditForm>

@code {
	private StaffRoleDTO role = new StaffRoleDTO();

	private async Task CreateRole()
	{
		var response = await http.PostAsJsonAsync($"{config.BaseUrl}/staffrole", role);
		if (response.IsSuccessStatusCode)
		{
			nav.NavigateTo("/admin");
		}
	}
}
