@page "/admin/register"

<h1>Register New User</h1>

<NavLink href="/admin/register/doctor">Register New Doctor</NavLink>
<NavLink href="/admin/register/staff">Register new Staff Member</NavLink>
<NavLink href="/admin/register/patient">Register New Patient</NavLink>
